{{ define "main"}}

<!-- grid -->
<section class="grid">
  <div class="row justify-content-between">
    <div class="col-md-6 my-3">
      <div class="d-flex flex-column h-100 justify-content-center">
        <h1 class="display-2">{{.Site.Params.office.title}}</h1>
        <p>{{.Site.Params.office.description}}</p>
        <a
          class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder shadow-sm"
          href="{{.Site.Params.office.buttonLink}}"
          target="_blank"
          >{{ .Site.Params.office.buttonText }}</a
        >
      </div>
    </div>

    <div class="col-md-6 my-3 gallery">
      <img class="rounded shadow" src="./office.webp" alt="" />
    </div>
    <div class="col-12 my-3 d-none d-md-block">
      <anchor></anchor>
      <iframe
        class="rounded border border-3 border-light shadow"
        src="{{.Site.Params.office.mapLink}}"
        width="100%"
        height="300px"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center mt-4">
    <!-- button -->
    <a
      class="btn btn-primary btn-lg px-5 py-3 fs-6 fw-bolder shadow-sm"
      href="{{absLangURL ""}}{{ .Site.Params.homepage.mainButtonRef }}"
      >{{ .Site.Params.homepage.mainButton }}</a
    >
  </div>
</section>
<!-- end-grid -->
{{ end}}
