<footer class="footer">
  <!-- Section: Social media -->
  <section class="text-light bg-dark first-section">
    <div
      class="container d-flex flex-row justify-content-center justify-content-md-between align-items-center py-4 px-5"
    >
      <!-- Left -->
      {{ if .Site.Params.socials.enabled }}
      <div class="d-none d-md-block">
        <span>{{ .Site.Params.socials.callToAction }}</span>
      </div>
      <!-- Right -->
      <div class="d-flex">
        {{ range .Site.Params.socials.link }}
        <a href="{{ .link }}" class="mx-2">
          <i class="bi bi-{{ .name }} text-light"></i>
        </a>
        {{ end}}
      </div>
      <!-- Right -->
    </div>
    {{ end }}
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-md-start mt-5 px-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-6 col-xl-4 text-center text-md-start mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">
            {{.Site.Params.footer.navigate.heading}}
          </h6>
          <hr class="mb-4 mt-0 d-inline-block" />
          {{- range .Site.Menus.main }}
          <p>
            <a href="{{ .URL }}" class="text-muted text-uppercase">{{.Name}}</a>
          </p>
          {{ end }}
        </div>
        <!-- Grid column 2-->
        <div class="d-none d-xl-block col-xl-4 text-center mb-3">
          <h3>{{.Site.Title}}</h3>
          <p class="mb-2">{{ .Site.Params.subtitle}}</p>
          <div class="fw-light mb-2">
            {{ .Site.Params.footer.contacts.address }} <br />
            {{ .Site.Params.footer.extradescription1 }} <br />
            {{ .Site.Params.footer.extraDescription2 }}
          </div>

          {{if .Site.Params.schedules.enabledFooter }} {{range
          .Site.Params.schedules.days}}
          <div class="fw-light my-2">{{.}}</div>
          {{end}} {{end}}
        </div>
        <!-- Grid column 3-->
        {{ if .Site.Params.footer.contacts.enabled }}
        <div
          class="col-md-6 col-lg-6 col-xl-4 mb-4 text-center text-md-start text-xl-end"
        >
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">
            {{ .Site.Params.footer.contacts.heading}}
          </h6>
          <hr class="mb-4 mt-0 d-inline-block" />
          {{ if .Site.Params.footer.contacts.address }}
          <p class="d-xl-none">
            <i class="bi bi-building mx-2 d-xl-none"></i>
            <span class="text-muted"
              >{{ .Site.Params.footer.contacts.address }}</span
            >
            <i class="bi bi-building mx-2 d-none d-xl-inline"></i>
          </p>
          {{ end }} {{ if .Site.Params.footer.contacts.mail }}
          <p>
            <i class="bi bi-envelope mx-2 d-xl-none"></i>
            <a
              class="text-muted"
              href="mailto:{{ .Site.Params.footer.contacts.mail}}"
              >{{ .Site.Params.footer.contacts.mail}}</a
            >
            <i class="bi bi-envelope mx-2 d-none d-xl-inline"></i>
          </p>
          {{ end }} {{ if .Site.Params.footer.contacts.mail2 }}
          <p>
            <i class="bi bi-envelope mx-2 d-xl-none"></i>
            <a
              class="text-muted"
              href="mailto:{{ .Site.Params.footer.contacts.mail2}}"
              >{{ .Site.Params.footer.contacts.mail2}}</a
            >
            <i class="bi bi-envelope mx-2 d-none d-xl-inline"></i>
          </p>
          {{ end }} {{ if .Site.Params.footer.contacts.phone }}
          <p>
            <i class="bi bi-telephone mx-2 d-xl-none"></i>
            <a
              class="text-muted"
              href="callto:{{ .Site.Params.footer.contacts.phone }}"
              >{{ .Site.Params.footer.contacts.phone }}</a
            >
            <i class="bi bi-telephone mx-2 d-none d-xl-inline"></i>
          </p>

          {{ end }}
        </div>
        {{ end }}
        <!-- END Grid column 3-->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="copyright py-2 text-center">
    <p class="my-1 fs-6 text-muted">{{ .Site.Copyright | markdownify}}</p>
  </div>

  <!-- Copyright -->

  <!-- JavaScript and dependencies -->

  {{ $bootstrap := resources.Get "js/bootstrap.bundle.min.js" }} {{ $js := slice
  $bootstrap | resources.Concat "js/bundle.js" | resources.Minify }}

  <script src="{{$js.RelPermalink}}" defer></script>
</footer>
